.image {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    scroll-snap-align: start;
    flex:1 0 100%
}

ion-icon {
    position: absolute;
}

ion-icon[name="chevron-back-outline"] {
    left: 2rem;
}

ion-icon[name="chevron-forward-outline"] {
    right: 2rem;
}

#slider{
    aspect-ratio: 16/9;
    overflow-x: hidden;
    display:flex; 
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    flex:1 0 100%
}

#slider-nav{
    display: flex;
    gap:1rem;
    position:absolute;
    left:50%;
    bottom :1.25rem;
    transform:translateX(-50%);
    z-index:1;

}

#catchPhrase{
    position:absolute;
    z-index: 1;
    color:#f5f5f5;
    top:37%;
    left:50%;
    font-size:1.5em;
    transform: translateX(-50%);
    text-shadow: #f5f5f5;
    bottom:50%
 

}

#slider-nav a{
    width:1rem;
    height:1rem;
    background-color: #fff;
    opacity:.75;
    transition: opacity ease 500ms;
    border-radius: 50%;

    
}

#slider-nav a :hover{
    opacity: 1;
}