<div id="slider">
    <!-- <ion-icon name="chevron-back-outline" size="large" class="cursor-pointer"></ion-icon>
    <ion-icon name="chevron-forward-outline" size="large" class="cursor-pointer"></ion-icon> -->
    
    <img id="slider-1" src ="../../../assets/black-friday-elements-assortment_23-2149074076.avif" class="image"/>
    <img id="slider-2" src="../../../assets/images.jpg" class="image"/>
    <img id="slider-3" src="../../../assets/time-grocery-shop-1-f64af0ca04c14e3592329072a3f7bdf8.jpg" class="image"/>
    <img id="slider-4" src="../../../assets/time-grocery-shop-1-f64af0ca04c14e3592329072a3f7bdf8.jpg" class="image"/>
    <img id="slider-5" src="../../../assets/time-grocery-shop-1-f64af0ca04c14e3592329072a3f7bdf8.jpg" class="image"/>
    <p id="catchPhrase">Grab your cart</p>
</div>
<div id="slider-nav">
    
    <a href="#slider-1"></a>
    <a href="#slider-2"></a>
    <a href="#slider-3"></a>
    <a href="#slider-4"></a>
    <a href="#slider-5"></a>
</div>

