<div class="sliders">
    <!-- <ion-icon name="chevron-back-outline" size="large" class="cursor-pointer"></ion-icon>
    <ion-icon name="chevron-forward-outline" size="large" class="cursor-pointer"></ion-icon> -->
    <div class="slider">
        <img id="slider-1" src ="../../../assets/black-friday-elements-assortment_23-2149074076.avif" class="image"/>
    </div>
    <div class="slider">
        <img id="slider-2" src="https://static.vecteezy.com/system/resources/previews/017/050/181/non_2x/credit-card-or-atm-card-and-gold-coins-or-dollars-place-in-shopping-cart-and-receipt-paper-with-text-special-offer-comes-out-of-the-cart-3d-isolated-on-orange-background-for-shoping-promotion-vector.jpg" class="image"/>
    </div>
 
    <div class="slider">
        <img id="slider-3" src="../../../assets/time-grocery-shop-1-f64af0ca04c14e3592329072a3f7bdf8.jpg" class="image"/>
    </div>
   <div class="slider">
    <img id="slider-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRl2Yte0ogC7UcnpydBSRhMwB7lAYfxazi6xrwUqNSyvOF-3YwMlLJK5bH2ztWjouZTnIg&usqp=CAU" class="image"/>
   </div>
   <div class="slider">
    <img id="slider-5" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRP8e5sa3jV8vvVQ31nHoXu8hMqIOBqZOOf3086ROnyjnIz44ST10-vxhSfMcT9kChZ6AU&usqp=CAU" class="image"/>
   </div>
  

    <p id="catchPhrase">Grab your cart</p>
</div>
<div id="slider-nav">
    
    <a href="#slider-1"></a>
    <a href="#slider-2"></a>
    <a href="#slider-3"></a>
    <a href="#slider-4"></a>
    <a href="#slider-5"></a>
</div>

