<!-- <p>cart works!</p> -->
  <!-- <div class="cart">Cart</div> -->

    <div id="selected-products">
        <div class="cart-item-div">
            <div id="cart-item">
                <div id="selected-product-image"></div>
                <div class="cart-item-description">
                    <div id="selected-product-name">{{products[0].productName}}</div>
                    <div id="selected-product-detail">{{products[0].productDescription}}</div>
                </div>
            </div>
            <div class="cart-action">
                <div id="selected-product-price">Price:{{products[0].price}}</div>
                <div id="quantity">
                    <ion-icon name="remove-circle-outline" size="large"></ion-icon>
                    <div >5</div>
                    <ion-icon name="add-circle-outline" size="large"></ion-icon>
                </div>
                <div id="trash"><ion-icon name="trash" size="large"></ion-icon>Remove</div>
                
            </div>
           
        </div>
        <div class="cart-item-div">
            <div id="cart-item">
                <div id="selected-product-image"></div>
                <div class="cart-item-description">
                    <div id="selected-product-name">{{products[0].productName}}</div>
                    <div id="selected-product-detail">{{products[0].productDescription}}</div>
                </div>
            </div>
            <div class="cart-action">
                <div id="selected-product-price">Price:{{products[0].price}}</div>
                <div id="quantity">
                    <ion-icon name="remove-circle-outline" size="large"></ion-icon>
                    <div >5</div>
                    <ion-icon name="add-circle-outline" size="large"></ion-icon>
                </div>
                <div id="trash"><ion-icon name="trash" size="large"></ion-icon>Remove</div>
                
            </div>
            
           
        </div>
        <div class="cart-item-div">
            <div id="cart-item">
                <div id="selected-product-image"></div>
                <div class="cart-item-description">
                    <div id="selected-product-name">{{products[0].productName}}</div>
                    <div id="selected-product-detail">{{products[0].productDescription}}</div>
                </div>
            </div>
            <div class="cart-action">
                <div id="selected-product-price">Price:{{products[0].price}}</div>
                <div id="quantity">
                    <ion-icon name="remove-circle-outline" size="large"></ion-icon>
                    <div >5</div>
                    <ion-icon name="add-circle-outline" size="large"></ion-icon>
                </div>
                <div id="trash"><ion-icon name="trash" size="large"></ion-icon>Remove</div>
                
            </div>
           
        </div>
        <div class="cart-item-div">
            <div id="cart-item">
                <div id="selected-product-image"></div>
                <div class="cart-item-description">
                    <div id="selected-product-name">{{products[0].productName}}</div>
                    <div id="selected-product-detail">{{products[0].productDescription}}</div>
                </div>
            </div>
            <div class="cart-action">
                <div id="selected-product-price">Price:{{products[0].price}}</div>
                <div id="quantity">
                    <ion-icon name="remove-circle-outline" size="large"></ion-icon>
                    <div >5</div>
                    <ion-icon name="add-circle-outline" size="large"></ion-icon>
                </div>
                <div id="trash"><ion-icon name="trash" size="large"></ion-icon>Remove</div>
                
            </div>
           
        </div>
        <div class="cart-item-div">
            <div id="cart-item">
                <div id="selected-product-image"></div>
                <div class="cart-item-description">
                    <div id="selected-product-name">{{products[0].productName}}</div>
                    <div id="selected-product-detail">{{products[0].productDescription}}</div>
                </div>
            </div>
            <div class="cart-action">
                <div id="selected-product-price">Price:{{products[0].price}}</div>
                <div id="quantity">
                    <ion-icon name="remove-circle-outline" size="large"></ion-icon>
                    <div >5</div>
                    <ion-icon name="add-circle-outline" size="large"></ion-icon>
                </div>
                <div id="trash"><ion-icon name="trash" size="large"></ion-icon>Remove</div>
                
            </div>
           
        </div>
        
      
    </div>
    <div id=cart-summary>
        <div id="cart-summary-title">Cart Summary</div>
        <div id="total">Total:30000 </div>
        <button id="checkout-btn">Checkout</button>
    </div>

