
    <div>GRABIA | All Rights Reserved.</div>
    <div>
        <a href="http://github.com/JoshuaOndieki">Joshua Ondieki</a>
        |
        <a href="http://github.com/stevehotcodes">Stephen Ondieki</a>
    </div>

    <div id="footer-company-links">
        <div>
            <a class="hover-underline" href="#">About us</a>
            <a class="hover-underline" href="#">Contact us</a>
        </div>
        <div>
            <a class="hover-underline" href="#">Privacy Policy</a>
            <a class="hover-underline" href="#">Terms of Service</a>
        </div>
    </div>

