#logo {
    font-size: xx-large;
    font-weight: bolder;
    color: var(--theme-purple-color);
    cursor: pointer;
}

#search-form {
    display: flex;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: max(50%, 300px);
    background-color: var(--main-bg-color);
    border-radius: 0.5rem;
    justify-self: center;
}

#query {
    flex: 1;
    border: none;
    height: 2rem;
    background-color: var(--main-bg-color);
    border-radius: 0.5rem;
    padding-left: 2rem;
    box-sizing: border-box;
}

#header-actions {
    display: flex;
    align-items: center;
    gap: 4rem;
}

ion-icon {
    cursor: pointer;
    margin: 0 5px;
}

ion-icon[name=search-outline] {
    color: gray;
}

input:focus {
    outline: none;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#signup-btn {
    padding: 0.5rem 2rem;
    background-color: var(--theme-purple-color);
    
}

#signup-btn:hover {
    background-color: #1a73e8;
}

#signup-btn>a {
    text-decoration: none;
    color: white;
}


@media (max-width: 868px) {
    #search-form {
        order: 1
    }
}