#categories {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.category {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
}

.category:hover {
    color: var(--theme-purple-color);
}

@media (max-width: 900px) {
    #categories {
        display: none;
    }
}