<ion-icon name="menu-outline" size="large"></ion-icon>
<div id="categories">
    <div class="category cursor-pointer">Technology <ion-icon name="caret-forward-outline"></ion-icon></div>
    <div class="category cursor-pointer">Furniture <ion-icon name="caret-forward-outline"></ion-icon></div>
    <div class="category cursor-pointer">Phones <ion-icon name="caret-forward-outline"></ion-icon></div>
    <div class="category cursor-pointer">Clothing <ion-icon name="caret-forward-outline"></ion-icon></div>
    <div class="category cursor-pointer">Laptops & Desktops <ion-icon name="caret-forward-outline"></ion-icon></div>
    <div class="category cursor-pointer">Kitchenware <ion-icon name="caret-forward-outline"></ion-icon></div>
    <div class="category cursor-pointer">Sounds <ion-icon name="caret-forward-outline"></ion-icon></div>
</div>