<form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
     <h2>Sign in</h2>
  
    <label>Email</label><br><br>
    <input type="email" formControlName="email"><br><br>
    <div *ngIf="signinForm.get('email')!.errors && signinForm.get('email')!.touched">
        <div *ngIf="signinForm.get('email')?.hasError('required')" [style.color]="textColor" [style.font-size.rem]="errorMsgFontSize">email is required</div>
    </div>
    <label>Password</label><br><br>
    <input type="password" formControlName="password"><br><br>
    <div *ngIf="signinForm.get('password')!.errors && signinForm.get('password')!.touched">
        <div *ngIf="signinForm.get('password')?.hasError('required')" [style.color]="textColor" [style.font-size.rem]="errorMsgFontSize">password is required</div>
    </div> 
    
    <button type="submit" (click)="onSubmit()">Sign in</button>
     
</form>