#heading {
    width: 100%;
    font-size: xx-large;
    font-weight: 500;
    background-color: var(--theme-lighter-purple);
    color: white
}

:host {
    border: 1px solid var(--theme-purple-color);
    justify-content: center;
    border-radius: 5px;
}