<div id="profile">
    <header>
        <div>Customer Profile</div>
        <div>Edit</div>
    </header>
    <div id="name">
        <div id="firstname" class="input">
            <label class="label">First Name</label>
            <input type="text" [value]="userData.firstname">
        </div>

        <div id="lastname" class="input">
            <label class="label">First Name</label>
            <input type="text" [value]="userData.lastname">
        </div>
    </div>

    <div id="email" class="input">
        <label class="label">Email</label>
        <input type="text" [value]="userData.email">
    </div>
    <div id="password" class="input">
        <label class="label">Password</label>
        <input type="text" placeholder="******">
    </div>
</div>