/* You can add global styles to this file, and also import other style files */

  @import url('https://fonts.googleapis.com/css2?family=Jost&family=Montserrat&display=swap');


:root {
    --main-bg-color: #F5F5F5;
    --secondary-bg-color: #F1F0F0;
    --drop-shadow: drop-shadow(0 1px 1px rgba(0,0,0,0.1));
    --theme-purple-color: #832BCE;
    --theme-lighter-purple: #b42bce;
    --main-blue-color: #2DD3DB;
    --default-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    --secondary-blue-color: #1a73e8;
    --light-green: #23D18B;
    --light-red: #F9685E;
}

*{
    font-family: 'Jost', 'Montserrat', sans-serif;
}

body {
    background-color: var(--main-bg-color);
    margin: 0;
    min-height: 100svh;
    width: 100%;
}

app-root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100svh;
    width: 100%;
}

app-header {
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    filter: var(--drop-shadow);
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    min-height: 60px;
    padding: 0.5rem 0.5rem;
    width: 100%;
    position: sticky;
    top:0;
    z-index: 999;
}

app-footer {
    align-items: center;
    background-color: var(--secondary-bg-color);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    min-height: 4rem;
    padding: 1rem 0;
}


.hover-underline:hover {
    text-decoration: underline;
    text-decoration-color: var(--theme-purple-color);
    text-decoration-thickness: 3px;
    text-underline-position: under;
}

app-mainpage {
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

@media(max-width: 660px) {
    app-mainpage {
        flex-direction: column;
    }
}


app-categories {
    box-shadow: var(--default-box-shadow);
    height: max-content;
    position: sticky;
    top: 8svh;
    z-index: 999;
    padding: 0.5rem;
}

@media (min-width:901px) {
    app-categories {
        width: 200px;
    }
}

app-carousel {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-height: 352px;
    min-height: 100px;
    min-width: 300px;
    position: relative;
}


.cursor-pointer {
    cursor: pointer;
}

app-popular-products {
    flex: 1;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

#flash-messages {
    position: fixed;
    z-index: 999;
    top: 5svh;
    right: 5svw;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: min(400px, 60svw);
}

app-flash-message {
    color: white;
    padding: 0.2rem 0.5rem;
    font-size: large;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 1rem;
    opacity: 0.9;
    border-radius: 5px;
}

.error {
    background-color: var(--light-red);
}

.success {
    background-color: var(--light-green);
}

.info {
    background-color: gray;
}

app-product-card {
    box-shadow: var(--default-box-shadow);
    height: 228px;
    width: min(200px, 80svw);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    gap: 0.5rem;
    cursor: pointer;
}

app-product-card:hover {
    background-color: white;
}


@media(max-width: 480px) {
    app-product-card {
        width: 80svw;
    }
}

app-recommended-products {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    min-width: 300px;
    gap: 1rem
}


app-not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}



app-signup,app-signin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

app-products-details{
  
    flex:1;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}
app-cart{
    display:flex;
    flex:1;
    flex-wrap:wrap;
    gap:20px;
    justify-content:center;
    margin: 1rem;
    
}

app-checkout{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    flex: 1;
}

app-user-profile {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}