<div id="header"><h2>Checkout</h2></div>
 <div id="checkout-container">
<div id="form" >
    <h3>Billing Details</h3>
    <form action="" [formGroup]="checkoutForm">
     
            <label for="Customer's Name">Customer's Name</label><br>
            <input type="text" name="customerName" formControlName="customerName"><br>
            <label for="Town">Town</label><br>
            <input type="text" name="Town" formControlName="town"><br>
            <label for="Email">Email</label><br>
            <input type="text" name="email" formControlName="email"> <br>  
            <button id="order-btn">Make an order</button>  
    </form>
  
</div>
<div class="orders-total-section">
        <div>Your Orders</div>
        <div id="orders-section">
              
                <div class="orders">
                       
                        <div id="checkout-product-image"></div>
                        <div class="short-order-summary">
                           <div id="checkout-product-details">Product ConX2</div>
                           <div id="checkout-quantity">2</div>
                        </div>
                       
                   </div>
                        <div id="checkout-price" > sh. 1000</div>
        </div>
        <div id="orders-section">
              
                <div class="orders">
                       
                        <div id="checkout-product-image"></div>
                        <div class="short-order-summary">
                           <div id="checkout-product-details">Product ConX2</div>
                           <div id="checkout-quantity">2</div>
                        </div>
                       
                   </div>
                        <div id="checkout-price" > sh. 1000</div>
        </div>
        <div id="orders-section">
              
                <div class="orders">
                       
                        <div id="checkout-product-image"></div>
                        <div class="short-order-summary">
                           <div id="checkout-product-details">Product ConX2</div>
                           <div id="checkout-quantity">2</div>
                        </div>
                       
                   </div>
                        <div id="checkout-price" > sh. 1000</div>
        </div>
          
        <div id="checkout-total">
                <div id="total">Total </div>
                <div id="total-amount-payable"><p> Ksh 10000</p></div>
        </div>
</div>

    

    
 </div>
