<h1 id="header">Checkout</h1>

<div id="checkout-container">
	<div id="details">
		<h3>Total: {{total | currency : 'Ksh ' : 'symbol' : '1.2-2' }}</h3>

		<div id="billing-details">
			<h3>Billing Details</h3>
			<div>Customer Name</div>
			<div>email@example.com</div>
		</div>
		<button id="order-btn">Make Order</button>
	</div>

	<div id="order-items">
		<h3>You're about to order these items</h3>
		<div class="order-item" *ngFor="let item of items">
			<div class="item-image" [ngStyle]="{'background-image': 'url( ' + item.image + ' )'}" ></div>
			<div class="item-name">{{item.productName}}</div>
			<div class="item-pricing">
				<span class="item-quantity">{{item.quantity}}</span>
				 x 
				 <span class="item-price">{{item.price | currency : 'Ksh ' : 'symbol' : '1.2-2'}}</span>
			</div>
		</div>
	</div>

</div>